*{
    margin: 0px;
    font-family: 'inter';
}

body{
    margin-left: 232px;
    margin-right: 231px;
}

#menusuperior{
    background-color: #303030;
    color: white;
    padding-bottom: 151px;
}

#titulomenusuperior{
    padding-top: 206px;
    font-size: 60px;
    margin-left: 62px;
    font-weight: 575;
}

#texto_menusuperior{
    font-size: 20px;
    margin-top: 22px;
    margin-left: 62px;
}

#menuinformacional{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.texto-informacional{
    margin-left: 155px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.numeroinformacional{
    font-size: 35px;
    font-weight: bolder;
}

#secaocorpo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    text-align: justify;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 75px;
}

#titulo_secao_corpo{
    font-size: 27px;
}

#texto_secao_corpo{
    margin-top: 220px;
    margin-bottom: 100px;
}

#formulario{
    background-color: #303030;
    color: white;
    text-align: center;
}

#titulo_formulario{
    padding-top: 75px;
    padding-bottom: 25px;
    font-size: 22px;
}

input{
    width: 300px;
    height: 40px;
    background-color: #ffff;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'raleway';
}

button{
    background-color: #C07212;
    color: white;
    border: 0px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    font-weight: bolder;
    margin-bottom: 50px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'raleway';
    font-size: 15px;
}

button:hover{
    background-color: #c77b1e;
    color: white;
    transform: translateY(-3px);
    transition-duration: 0.5s;
    box-shadow: 0px 10px 15px #0510305b;
}